[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
	branch = stable_20.3.x
[submodule "hugo-cite"]
	path = docs/themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
