/*

Add styles or override variables from the theme here.

*/

/*
$primary: #390040;
$secondary: #A23B72;
*/

$colorTop: #990000;
$colorBottom: #e60000;

$enable-gradient: true;
.td-navbar { 
  background-image: linear-gradient($colorTop, $colorBottom); 
  border-bottom: 2px solid  #2e3436;;
}

/*@td-navbar: linear-gradient(#990000,#e60000);
$primary: #990000;
*/
$enable-shadows: true;

